<section class="intro">
  <div class="container">

    <h2 class="intro__greeting">HELLO</h2>

    <p class="intro__paragraph">
      I'm Enrique, a Web UI Developer.  This page is a collection of my work as a developer and photographer.

      If you're interested in the type of work I do, I hope you'll look around a little.  Please feel free to introduce yourself, I love hearing from people who do similar stuff or maybe have a project in mind we could work on together.
      </p>

    <app-social-links class="social-links--intro"></app-social-links>

  </div>
</section>