:host {
    display:flex;
    flex-direction:column;
}

.landing {
    height: 103vh;
    width:100%;
    background: url('../../assets/images/landing-background.jpg') no-repeat;
    background-position: center;
    background-position-y: -70px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top:100px;
    background-color:#000;

    &__name {
        width:100%;
        text-align:center;
        color:#dbedf3;
        font-size:72px;
    }

    &__title {
        width:100%;
        text-align: center;
        color:#dbedf3;
    }
}