<section class="experience">
  <div class="container">
    <section class="experience__headline">
      <h1>EXPERIENCE</h1>
    </section>

    <section class="experience__content--rows">
      <div class="experience__item">
        <div class="experience__item__dates">mar 2016 — present</div>
        <div class="experience__item__description">UI/UX Developer at United Airlines</div>
      </div>
      <div class="experience__item">
        <div class="experience__item__dates">mar 2015 — oct 2015</div>
        <div class="experience__item__description">Front End Web Developer at WebToMed Inc</div>
      </div>
      <div class="experience__item">
        <div class="experience__item__dates">mar 2011 — june 2012</div>
        <div class="experience__item__description">Front End Web Developer at MyEbit.com</div>
      </div>            
      <div class="experience__item">
        <div class="experience__item__dates">mar 2006 — mar 2011</div>
        <div class="experience__item__description">E-Commerce Web Developer at Southport Rigging Inc</div>
      </div>

    </section>

    <section class="experience__content--columns">
      <div class="experience__column">
          <div class="experience__headline--column">
              <h1>FOCUS</h1>
          </div>
          <ul class="experience__column__list">
            <li class="item">UX/UI Design</li>
            <li class="item">Web Development</li>
            <li class="item">Photography</li>
            <li class="item">Application Usability</li>
            <li class="item">Content Creation</li>
          </ul>
      </div>
      <div class="experience__column">
        <div class="experience__headline--column">
            <h1>TOOLS</h1>
        </div>
          <ul class="experience__column__list">
            <li class="item">HTML/SCSS/JS</li>
            <li class="item">Adobe Creative Suite</li>            
            <li class="item">Angular.js & Angular 2.0+</li>
            <li class="item">Node.js / Gulp</li>
            <li class="item">SMACSS / BEM</li>
          </ul>        
      </div>
      <div class="experience__column">
          <div class="experience__headline--column">
              <h1>INTERESTS</h1>
          </div>
          
          <ul class="experience__column__list">
            <li class="item">Bicycles</li>
            <li class="item">Photography</li>
            <li class="item">Computers / Tech</li>
            <li class="item">Web Components</li>
            <li class="item">Travel</li>
          </ul>          
      </div>
      <div class="experience__column">
          <div class="experience__headline--column">
              <h1>INTERESTS</h1>
          </div>
          
          <ul class="experience__column__list">
            <li class="item">UX/UI Design</li>
            <li class="item">Web Development</li>
            <li class="item">Photography</li>
            <li class="item">Print & Editorial</li>
            <li class="item">Branding</li>
          </ul>          
      </div>
    </section>

  </div>
</section>

