<!--The whole content below can be removed with the new code.-->
<nav class="menu">
  <ul class="menu__list">
  <li><a class="menu__item" href="" routerLinkActive="active" routerLink="/photography">photography</a></li>
  <li><a class="menu__item" href="" routerLinkActive="active" routerLink="/travel">travel</a></li>
  <li><a class="menu__item" href="" routerLinkActive="active" routerLink="/web">web</a></li>  
  <li><a class="menu__item" href="" routerLinkActive="active" routerLink="/contact">contact</a></li>    
  </ul>
</nav>