<app-header class="sticky"></app-header>

<section class="contact">

  <div class="container">

    <section class="contact__headline">
      <h1>CONTACT</h1>
    </section>
    
    <section class="contact__summary row">
      <div class="col-sm-8">
      <h2>
        I'm always excited to hear out new project ideas.  If you're interested in doing great work together, please reach
        out and we can schedule some time to talk through it.  Thank you for your time.
      </h2>
      </div>
    </section>

    <section class="contact__form row">
      <div class="col-xs-12 col-sm-8">
          <app-contact-form></app-contact-form>
      </div>
    </section>
      
  </div>

</section>





<app-footer class="contact-page"></app-footer>


