<ul class="social-links">
  <li class="social-links__link">

      <a href="mailto:info@enriquemartinezmedia.com">
        <fa-icon [icon]="['fas', 'envelope']" size="2x"></fa-icon>
      </a>

  </li>
  <li class="social-links__link">
    
    <a href="https://www.linkedin.com/in/martinezenrique" target="_blank">
      <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </a>
    
  </li>

  <li class="social-links__link">

    <a href="https://instagram.com/enriquethegreat" target="_blank">
      <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>        
    </a>

  </li>

  <li class="social-links__link">

    <a href="https://www.youtube.com/user/enriquetheweak" target="_blank">
      <fa-icon [icon]="['fab', 'youtube']" size="2x"></fa-icon>        
    </a>

  </li>
    
  <li class="social-links__link">
      <a href="https://github.com/enriq21" target="_blank">
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
      </a>
  </li>
</ul>