

<div class="case-study">
  <section class="case-study__featured-image">
    <img src="./assets/travel/india-background-image-2.jpg">
  </section>

  <app-header StickyElement> </app-header>

  <section class="case-study__overview">
      <div class="case-study__overview-wrapper">
        <div class="container">
          <div class="case-study__overview__titles-wrapper">
              <div class="case-study__overview__brief">TRAVEL</div>        
              <div class="case-study__overview__title">India</div>
          </div>
          <div class="case-study__overview__details-wrapper">
            <div class="row">
                <div class="col-sm-12 case-study__overview__description">

                  <p>I’ll get a little personal here and first tell you about Adriana.  Adriana is my eccentric wife, who would probably do 
                      almost anything for me.  She’s been like this since I met her.  I’ve seen her go above and beyond for her friends to ensure 
                      everyone has a great time. You probably already know that.  We went to Europe in 2017, and she planned the entire thing... 
                      like the entire thing.  Everything went so smooth, all I had to do was show up.  It was amazing.</p>
          
                    <p>I’ve always been very thankful for this, and I wanted to do the same for her.  I wanted her to experience the same carelessness 
                      that I did when we were in Europe.  We never really went on a honeymoon after we got married.  2018 marks 10 years for us, so 
                      I thought this the perfect opportunity to make up for it. When I first mentioned I was going to plan the whole trip, she wasn’t 
                      having it.  India was a place she had long wanted to visit, and I’ll be honest, I’ve kind of always been meh, up until the last 
                      few years.  She didn’t understand though, I had been doing so much research with a friend of mine.</p>
                    
                </div>        

            </div>

        </div>
        </div>
      </div>

  </section>
  <div class="case-study__image-separator">
    <img src="./assets/travel/india-background-image-3.jpg">
  </div>



  <div class="case-study__text-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-box">
          
          <p>First of all, I have to give her credit, it wasn’t easy.  There’s so much to consider. Visas, work time, 
              hotels, transportations, etc. I basically skipped most of that. I booked the round trip to and from Mumbai, 
              our first leg to Kerala, and then a couple flights while we were there. My friends who helped me organize things 
              told me not to worry, so I just didn’t worry much. I learned pretty quick that if you have the recommendation of 
              a trusted friend, it pretty much makes you a trusted friend. Family and friends in India, in my experience, were 
              all very lovely.</p>

            <p>The total flight time was somewhere around 21 hours and our days were 12 hours ahead.  I felt pretty lost once 
              we landed.  My instructions were find the Starbucks, and look for the guy in the picture they sent me. Worked out 
              great. I picked up my cash and dropped off some luggage I was taking back for a friend.  I didn’t have a hotel booked 
              that night, so they helped us find one. We got a few hours of sleep, and had to go directly back to the airport at 
              8am.  We had a flight to Kerala at 10. Land at 12, and drive 4 hours to our first final destination.  This basically 
              set the pace for the rest of the trip.</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="case-study__image-separator">
    <img src="./assets/travel/india-background-image-1.jpg">
  </div>


  <div class="case-study__text-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-box">


            <div class="section-headline">
              Kerala
            </div>

            <p>The first 4 days were all booked.  We had a driver, food, and a place to sleep each night.  It was definitely the perfect introduction to India.  I say that because we had a driver the entire time, he would take us to places, drop us off, and pick us up. We paid ahead of time, so we really didn't have to worry about a thing once we arrived. Also, Kerala is the most educated part of India. Just about everyone speaks english.</p>
            <p>We didn’t know how we were going to meet up with our driver, since we didn’t have phones yet, but I kind of just trusted that they would be there, and yeah, there he was. We basically spent the first day driving uphill to Munnar and Thekkady, which had some of the best views I've ever seen in my life. Kerala was a little touristy, but for once I was totaly OK with it.</p>
            <p>Munnar and Thekkady are about 3 hours in from the coast of Kerala and known for their tea and spice exports. The road there was entirely uphill on some of the smallest, winding switchback roads. We would very often have to compete with tour buses for space on the road. It was a little sketchy in a car, but I couldnt imagine having to drive a bus.</p>
            <p>Reaching the top made it all worth it.</p>


            <div class="article-photo">
              <img src="./assets/travel/india/india-kerala-tea-gardens.jpg">
              <span class="caption">
				I don't think this one was taken from all the way at the top, but I love the way the patterns the bushes make.  Basically everything you see is green tea.
              </span>
            </div>


			<div class="article-photo">
              <img src="./assets/travel/india/india-kerala-tea-cutter.jpg">
              <span class="caption">
				A worker cutting and collecting green tea Leaves near Munnar, in Kerala.
              </span>
			</div>
			
			<p>Another thing to do in Kerala, is to sleep on a houseboat. The town of Alleppey has boats that you can hire, that you spend the night on. Your crew cruises you around the backwaters of Kerala, a group of canals on the coast. I have to admit, the idea sounded strange at first, but I remember the feeling while hanging out on the boat and watching everything around me. I don't think I have ever been as relaxed as I was at that moment, and in Kerala in general. Everything seemed perfect.</p>
			
			<div class="article-photo">
              <img src="./assets/travel/india/india-kerala-houseboat.jpg">
              <span class="caption">
				A typical houseboat.  They'll cruise you around, feed you, and you can just sit back and not worry about having to do shit.  It was pretty amazing, actually.
              </span>
			</div>
            
        </div>
      </div>
    </div>
  </div>


  <div class="case-study__split-gallery">
    

    <!-- End: Split Gallery -->

        <!-- <img src="./assets/travel/india-carousel-taj-1.jpg"> -->
        <ngb-carousel class="split-gallery" *ngIf="images" [showNavigationArrows]="true" [showNavigationIndicators]="false">
          <ng-template ngbSlide *ngFor="let image of images">

            <div class="split-gallery__captions">

              <div class="caption-wrapper">
        
                <span class="section-headline">
                    <p>{{image.caption}}</p>
                </span>
        
                <span class="caption-text">
                  <p>{{image.detail}}</p>
                </span>
        
                <div class="gallery-controls">
                  <div class="previous-arrow">
                      <fa-icon [icon]="faAngleLeft"></fa-icon>
                  </div>
                  <div class="image-count">2 / 6</div>
                  <div class="next-arrow">
                      <fa-icon [icon]="faAngleRight"></fa-icon>
                  </div>
                </div>
                
              </div>
              <!-- End: Caption Wrapper -->
        
            </div>

            <div class="split-gallery__carousel-images">      
              <img [src]="image.url" alt="image.caption">
            </div>
          
            <!-- <div class="carousel-caption">
            <h3>Slide Name</h3>
            <p>{{ image.caption }}</p>
            </div> -->
          </ng-template>
        </ngb-carousel>  

  </div>

  <div class="case-study__text-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-headline">
          Mumbai
        </div>
        <div class="col-sm-12 text-box">
            <p>I really enjoyed my time in Mumbai. We arrived late in the day. it was already dark out, and that was when I realized how massive this city is. There’s over 18 million people living in Mumbai. The sounds are something else. Also, the air was noticeably 'heavier'. We had a few days. We went out on a photo walk and tried to get familiar with getting around. Uber still works out there, and you can get a 30 mile / 2-hour ride for about 5-7 bucks. It's pretty wild!

            <p>Ok, this was for sure one of the highlights. Keeping with the theme of carelessness. my friend who helped me plan assured me his cousin would find us a good Holi party. I tried not to get my hopes up too much, since this is something that Adriana and I were really looking forward too. We ended up going to a pretty exclusive party being put on by the ZoomTV channel in India. Sort of like a Bollywood MTV.

            <p>I figured if an iPhone X is water resistant, it must also be color powder resistant? I wasn’t completely sure, but it was a risk I was willing to take. Luckily, I was able to bring it into the rain dance and get it all full of the chalky color powder and it all worked out fine. The results were for sure some of the best visuals of the whole trip. Completely worth it.</p>
            
            <!-- We all had all access 'crew' passes for the party.
            https://youtu.be/nwPBYu7CRIM?t=596 Here is our crew from the holi party.
            https://youtu.be/nwPBYu7CRIM -- Holi Party
            One of the best days ever.
            https://www.facebook.com/zoomtv/videos/zoom-holi-party-2018/10156404948924123/ -->
            

        </div>
      </div>
    </div>
  </div>
  
  <div class="case-study__video-row">
      <video width="100%" autoplay loop>
        <source src="assets/travel/india-background-video-holi.mp4" type="video/mp4">
      </video>
  </div>


  <div class="case-study__text-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-headline">
          Research
        </div>
        <div class="col-sm-12 text-box text-box--two-columns">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio ante, vulputate fringilla sem ut, porttitor consequat erat. Aliquam quam urna, tempus quis est sed, laoreet blandit tellus. Cras nec turpis et velit rutrum viverra vitae quis leo. Quisque faucibus in neque id egestas. Morbi luctus maximus mi, eu ultrices velit tristique id. Mauris nec placerat leo, sit amet eleifend quam.
        </div>
      </div>
    </div>
  </div>

  <div class="case-study__centered-gallery">
    <!-- <img src="./assets/travel/india-carousel-taj-1.jpg"> -->
    <ngb-carousel *ngIf="images" [showNavigationArrows]="true" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let image of images">
      <div class="container d-flex">
        <div class="col-sm-8" style="margin:0px auto;">      
          <img style="display:block;max-width:100%;margin:80px auto;" [src]="image.url" alt="image.caption">
        </div>
      </div>
      </ng-template>
    </ngb-carousel>  

  </div>
  <!-- End: Centered Gallery -->

</div>

<app-footer></app-footer>




<!-- <div class="case-study__text-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-headline">
          Mumbai
        </div>
        <div class="col-sm-12 text-box text-box--two-columns">
            <p>I really enjoyed my time in Mumbai. We arrived late in the day. it was already dark out, and that was when I realized how massive this city is. There’s over 18 million people living in Mumbai. The sounds are something else. Also, the air was noticeably 'heavier'. We had a few days. We went out on a photo walk and tried to get familiar with getting around. Uber still works out there, and you can get a 30 mile / 2-hour ride for about 5-7 bucks. It's pretty wild!

            <p>Ok, this was for sure one of the highlights. Keeping with the theme of carelessness. my friend who helped me plan assured me his cousin would find us a good Holi party. I tried not to get my hopes up too much, since this is something that Adriana and I were really looking forward too. We ended up going to a pretty exclusive party being put on by the ZoomTV channel in India. Sort of like a Bollywood MTV.

            <p>I figured if an iPhone X is water resistant, it must also be color powder resistant? I wasn’t completely sure, but it was a risk I was willing to take. Luckily, I was able to bring it into the rain dance and get it all full of the chalky color powder and it all worked out fine. The results were for sure some of the best visuals of the whole trip. Completely worth it.</p>

        </div>
      </div>
    </div>
  </div>
   -->