<section class="projects">
  <div class="container">

    <section class="projects__headline">
      <h1>LATEST</h1>
    </section>

    <section class="projects__content">
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
      <div class="projects__item"></div>
    </section>

  </div>

</section>