<app-header class="sticky"> </app-header>

<section class="travel">
	<div class="container">

		<section class="travel__headline">
			<h1>WEB</h1>
		</section>

		<section class="travel__summary row">
			<div class="col-sm-8">
				<h2>
					I have way more pictures than I know what to do with, or how to organize.
					Below, I am trying to group some of my favorite pictures into more digestable portions. There are plenty missing,
					and I will continue to update this in the future.
				</h2>
			</div>
		</section>


		<section class="travel__content">
			<ul>
				<li>
					<a routerLink="compass">United Airlines Compass</a>
				</li>
				<li>
					<a routerLink="portfolio">Enrique Martinez Media</a> <br>
				</li>

				<li>
					<a routerLink="portfolio">Sticky Header Directive (Angular 6)</a> <br>
				</li>

			</ul>
		</section>

	</div>

</section>


<app-footer></app-footer>